header{
    margin-top: 2rem;
}
.container__artigos{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-between;

}
.container__artigo__bigCard{
    width: 50%;
}
.container__artigo_smallCard{
    width: 50%;
    
}