<div class="container__bigcard">
    <div class="container__image">
        <img src="https://thumbs.dreamstime.com/b/olhos-do-lobo-3709247.jpg" alt="Imagem do Artigo">
     </div>
     <div class="container_titulo">
         <h1><a href="">Titulo do Artigo</a></h1>
     </div>
     <div class="container_descricao">
           <p>
             Lorem Ipsum is simply dummy text of the printing and typesetting 
             industry. Lorem Ipsum has been the industry'
              desktop publishing software like Aldus
               PageMaker including versions of Lorem Ipsum.
           </p>
     </div>
</div>
