<div class="container_menuBar">
     <ul>
        <li>
            <img src="https://cdn.icon-icons.com/icons2/2429/PNG/512/linkedin_logo_icon_147268.png" alt="">
            Linkedin
        </li>
        <li>
            <img src="https://cdn.icon-icons.com/icons2/2351/PNG/512/logo_github_icon_143196.png" alt="">
             GitHub
        </li>
        <li>
            <img src="https://cdn.icon-icons.com/icons2/195/PNG/256/YouTube_23392.png" alt="">
            YouTube
        </li>
     </ul>
</div>
